{erl_opts, [debug_info]}.
{deps, [
    {cowlib, "2.16.0"},
    {ranch, "2.2.0"},
    {cowboy, "2.14.2"},
    {prometheus, "6.1.2"},
    {jsx, "3.1.0"},
    {yamerl, "0.10.0"},
    {netflow, "1.0.0"}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [erlflow]}
]}.

{ct_opts, [
    {ct_hooks, [erlflow_cth]}
]}.
