{erl_opts, [debug_info]}.
{deps, [
    {xxhash, {git, "https://github.com/pierreis/erlang-xxhash.git", {branch, master}}},
    {cowboy, "2.9.0"},
    {prometheus, "4.9.1"},
    {jsx, "3.1.0"},
    {yamerl, "0.10.0"},
    {netflow, "1.0.0"}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [erlflow]}
]}.
